<% extend("master.ejs") %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Quản lý lịch hẹn</h1>
        <div class="my-3">
            <label for="dateDoctorAppointment">Thời gian </label>
            <form method="GET" action="/doctor/get-new-patients">
                <div class="form-row">
                    <input id="dateDoctorAppointment" name="dateDoctorAppointment" value="<%= date %>" type="text"
                        class="form-control col-6 mr-4">
                    <a href="#" class="btn btn-primary" id="btn_SearchBooking" style="color: white;">Tìm</a>
                </div>

            </form>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="patient-new-tab" data-toggle="tab" href="#newPatients" role="tab"
                        aria-controls="home" aria-selected="true">Lịch hẹn mới (<span id="count-new"></span>) </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patient-need-confirm-tab" data-toggle="tab" href="#patientsNeedConfirm"
                        role="tab" aria-controls="profile" aria-selected="false">Đã chấp nhận(<span
                            id="count-need"></span>) </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patient-confirmed-tab" data-toggle="tab" href="#patientConfirmed" role="tab"
                        aria-controls="contact" aria-selected="false">Đã khám(<span id="count-confirmed"></span>)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patient-cancel-tab" data-toggle="tab" href="#patientCanceled" role="tab"
                        aria-controls="contact" aria-selected="false">Đã hủy(<span id="count-canceled"></span>) </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="newPatients" role="tabpanel"
                        aria-labelledby="patient-new-tab">
                        <table class="table table-bordered" id="tableNewPatients" width="100%" cellspacing="0">
                            <thead>

                                <tr>
                                    <th>Tên</th>
                                    <th>Năm sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Thời gian hẹn</th>
                                    <th class="w-25">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="patientsNeedConfirm" role="tabpanel"
                        aria-labelledby="patient-need-confirm-tab">
                        <table class="table table-bordered" id="tableNeedConfirmPatients" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Năm sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Thời gian hẹn</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="patientConfirmed" role="tabpanel"
                        aria-labelledby="patient-confirmed-tab">
                        <table class="table table-bordered" id="tableConfirmedPatients" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Năm sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Thời gian hẹn</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="patientCanceled" role="tabpanel"
                        aria-labelledby="patient-cancel-tab">
                        <table class="table table-bordered" id="tableCancelPatients" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Năm sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Thời gian hẹn</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal detail info new patient -->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalDetailNewPatient">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin bệnh nhân</h5>
                    <button type="button" class="close cursor-pointer" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="newPatientName">Tên:</label>
                            <input type="text" class="form-control" id="newPatientName" name="newPatientName" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="newPatientYear">Năm sinh:</label>
                            <input type="text" class="form-control" id="newPatientYear" name="newPatientYear" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="newPatientPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="newPatientPhone" name="newPatientPhone"
                                readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="newPatientEmail">Email:</label>
                            <input type="email" class="form-control" id="newPatientEmail" name="newPatientEmail"
                                readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="newPatientDate">Ngày:</label>
                            <input type="text" class="form-control" id="newPatientDate" name="newPatientDate" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="newPatientTime">Giờ:</label>
                            <input type="text" class="form-control" id="newPatientTime" name="newPatientTime" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="newPatientReason">Lý do:</label>
                            <textarea class="form-control" name="newPatientReason" id="newPatientReason"
                                readonly></textarea>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="newPatientAddress">Địa chỉ:</label>
                            <textarea class="form-control" name="newPatientAddress" id="newPatientAddress"
                                readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ml-3 btn btn-danger cursor-pointer"
                        id="btn-new-patient-cancel">Hủy</button>
                    <button type="button" class="btn btn-primary cursor-pointer" id="btn-new-patient-ok">Chấp
                        nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal detail info patient-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalDetailPatient">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin bệnh nhân</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input id="userId" class="d-none"></input>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientName">Tên:</label>
                            <input type="text" class="form-control" id="patientName" name="patientName" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientYear">Năm sinh:</label>
                            <input type="text" class="form-control" id="patientYear" name="patientYear" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="patientPhone" name="patientPhone" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientEmail">Email:</label>
                            <input type="email" class="form-control" id="patientEmail" name="patientEmail" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientDate">Ngày:</label>
                            <input type="text" class="form-control" id="patientDate" name="patientDate" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientTime">Giờ:</label>
                            <input type="text" class="form-control" id="patientTime" name="patientTime" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientReason">Lý do:</label>
                            <textarea class="form-control" name="patientReason" id="patientReason" readonly></textarea>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientAddress">Địa chỉ:</label>
                            <textarea class="form-control" name="patientAddress" id="patientAddress"
                                readonly></textarea>
                        </div>

                        <div class="col-12">
                            <label for="patientAddress">Thông tin khám hôm nay:</label>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label text-label" for="patientHistoryBreath">Kết quả chuẩn
                                đoán:</label>
                            <textarea class="form-control" name="patientHistoryBreath"
                                id="patientHistoryBreath"></textarea>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-form-label text-label" for="patientMoreInfo">Thông tin thêm:</label>
                            <textarea class="form-control" name="patientMoreInfo" id="patientMoreInfo"></textarea>
                        </div>

                        <div class="col-12">
                            <a href="#" id="toggleScheduleLink" class="text-decoration-none">Hẹn lịch khám lại(Nếu
                                có):</a>
                        </div>
                        <div class="form-group col-6" id="scheduleSection" style="display: none;">
                            <div class="form-group col-4">
                                <label class="col-form-label text-label" for="dateDoctor">Ngày:</label>
                                <input type="date" class="form-control" id="dateDoctor" name="dateDoctor"
                                    data-doctor-id="<%= user.id %>">
                            </div>
                            <div class="form-group col-12">
                                <label class="col-form-label text-label" for="dateDoctor">Giờ:</label>
                                <div id="div-schedule-<%= user.id %>"
                                    class="doctor-schedule d-flex flex-row flex-wrap text-decoration-none"
                                    style="overflow: auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ml-3 btn btn-secondary cursor-pointer" id="btn-cancel-patient"
                        data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success cursor-pointer" id="btn-confirm-patient-done">Xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal cancel booking-->
    <div class="modal fade" id="modalCancelBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận từ chối lịch hẹn của bác sĩ</h5>
                    <button type="button" class="close cursor-pointer" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formCancelBooking">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reasonCancel" id="inputDefaultReason"
                                value="reason1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Lịch hẹn không đúng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reasonCancel" id="exampleRadios2"
                                value="reason2">
                            <label class="form-check-label" for="exampleRadios2">
                                Bệnh nhân hủy lịch
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reasonCancel" id="exampleRadios3"
                                value="reason3">
                            <label class="form-check-label" for="exampleRadios3">
                                Lý do khác
                                <input type="text" id="otherReason" disabled>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cursor-pointer" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btnCancelBookingPatient" class="btn btn-primary cursor-pointer">Xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal history cancel booking -->
    <div class="modal fade" id="modalHistoryBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lịch sử đặt lịch của bệnh nhân</h5>
                    <button type="button" class="close cursor-pointer" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="form-row">
                            <div class="col-6">
                                <label>Tình trạng:</label>
                            </div>
                            <div class="col-3">
                                <label>Người hủy:</label>
                            </div>
                            <div class="col-3">
                                <label>Thời gian:</label>
                            </div>
                        </div>
                        <div id="contentHistory">

                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cursor-pointer" id="btn-view-history"
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal booking -->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalBooking">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <% if (user) { %>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đặt lịch hẹn khám bệnh</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5" style="border-right: 1px solid #ccc;" id="infoDoctor">
                                <label class="text-label" style="padding-top: 7px">Thông tin bác sĩ: </label>
                                <div class="d-flex flex-row">
                                    <img class="avatar-doctor-modal" id="modal-avatar-doctor">
                                    <div class="ml-3">
                                        <span class="d-block" id="doctor-name"></span>
                                        <span class="d-none" id="doctor-id"></span>
                                        <div class="time-booking" id="time-patient-booking"></div>
                                        <div class="time-booking" id="date-patient-booking"></div>
                                    </div>
                                </div>

                                <div class="mt-3">Hẹn lịch miễn phí</div>
                            </div>
                            <div class="col-7">
                                <form id="form-patient-info">
                                    <input id="userId" class="d-none"></input>
                                    <div class="form-group">
                                        <label for="patient-name" class="col-form-label text-label">Thông tin bệnh
                                            nhân</label>
                                        <br>
                                        <label for="name" class="col-form-label">Họ và tên :</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Họ và tên">
                                        <div class="invalid-feedback">
                                            Tên bệnh nhân không được để trống
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="selectMale"
                                                value="male" checked>
                                            <label class="form-check-label" for="selectMale">Nam</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="selectFemale"
                                                value="female">
                                            <label class="form-check-label" for="selectFemale">Nữ</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-form-label">Số điện thoại :</label>
                                        <input type="text" class="form-control" id="phone" name="phone"
                                            placeholder="Số điện thoại (*)">
                                        <div class="invalid-feedback"> Số điện thoại không hợp lệ</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Email :</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                            placeholder="Email (*)">
                                        <div class="invalid-feedback">
                                            Email không hợp lệ
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-form-label">Năm sinh:</label>
                                        <input type="text" class="form-control" id="year" name="year">
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-form-label">Địa chỉ:</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                            placeholder="Địa chỉ">
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-form-label">Lý do khám:</label>
                                        <input type="text" class="form-control" id="description" name="description"
                                            value="Hẹn lịch khám lại">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="processLoading" class="process-loading d-none"> <span class="d-block mx-2">
                                <strong>Đang xử
                                    lý</strong></span>
                            <div class="loader"></div>
                        </div>
                        <button type="button" class="ml-3 btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" id="btn-confirm-booking">Đặt lịch hẹn</button>
                    </div>
                    <% } else { %>
                        <div class="modal-header text-center align-items-center">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center align-items-center">
                            <h5 class="modal-title mx-auto" id="exampleModalLabel">Bạn chưa đăng nhập. Vui lòng đăng
                                nhập..</h5>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a href="/login" class="btn btn-primary">Đến trang đăng nhập</a>
                        </div>

                        <% } %>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".admin-list-patients").addClass("active");
        })

        $(function () {
            $('input[name="reasonCancel"]').on('change', function () {
                if ($('#exampleRadios3').is(':checked')) {
                    $('#otherReason').prop('disabled', false);
                } else {
                    $('#otherReason').prop('disabled', true).val('');
                }
            });
        });

    </script>
